<div id="countown-screen" ng-show="state===COUNTDOWN">
    <p>{{countdownLabel}}</p>
</div>
<div id="button-screen" ng-show="state===BUTTON">
    <div class="player-header">

        <div id="red-header" class="team-header">
            <div class="title">
                <p>RED<br>TEAM</p>
            </div>
        </div>

        <div id="blue-header" class="team-header">
            <div class="title">
                <p>BLUE<br>TEAM</p>
            </div>
        </div>
        
        <div class="bar-holder">
            <div id="score-bar" class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
            </div>
        </div>

<!--        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>-->
    </div>
    <div class="player-team"><p>You're on the {{teamLabel}} team</p></div>
    <button id="pull-button" type="button" class="btn btn-default">TAP TO PULL</button>
</div>
<div id="waiting-screen" ng-show="state===WAIT">
    <p>Waiting for game to start</p>
</div>
<div id="timeout-screen" ng-show="state===TIMEOUT">
    <p>you've timed out. PLease restart when ready.</p>
    <button ng-click="restartGame()">restart game</button>
</div>